:root {
    --hover-color: #2c3230;
    /* --hover-color: #FFD700; */
    --hover-social-icon: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: tahoma;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #1c1e1e;
    overflow-x: hidden;
    background:
        conic-gradient(at 62.5% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/-8) calc(28px/2),
        conic-gradient(at 62.5% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(-3*28px/8) calc(28px/4),
        conic-gradient(at 87.5% 62.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(3*28px/8) calc(28px/4),
        conic-gradient(at 87.5% 62.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/-8) 0,
        conic-gradient(at 25% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) 0 calc(28px/-4),
        conic-gradient(at 25% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/-4) 0,
        conic-gradient(at 87.5% 87.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/8) 0 #1b1d1d;
    background-size: 28px 28px;


}

@font-face {
    font-family: "Samkaran";
    src: url("../../../public/samkaran.TTF") format("truetype");
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexRow {
    flex-direction: row;
}

.container {
    width: 100vw;
    height: 100vh;
}

.gap2 {
    gap: 5px;
}

.header {
    font-family: "ubuntu";
    font-size: max(9vw, 70px);
    color: #fff;
    text-align: center;
}

.samkaran {
    font-family: "Samkaran";
    color: #fff;
}

.headerLogo {
    height: 5vw;
    width: 5vw;
    margin-bottom: 2rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 1s ease;
    background: #1c1e1e;
    margin-top: 12rem;
}

.headerLogo img {
    height: 8vw;
    width: 8vw;
}

.subHeading{
    font-size: max(6vw, 50px);
    margin-top: 10px;
}

.topRow {
    width: 100vw;
    flex-wrap: wrap;
    /* padding-inline: 70px; */
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    /* padding-inline: 70px; */

}

.ourTeam {
    padding: 30px 0 40px;
    margin: 30px 50px;
    text-align: center;
    overflow: hidden;
    position: relative;
    min-width: 300px;
    width: 20%;
    min-height: 330px;
    height: 45%;
    border-radius: 15px;

    background: whitesmoke;
    backdrop-filter: blur(3px);
}

@media only screen and (max-width: 600px) {
    .ourTeam{
        margin-inline: 0;
    }
}

.ourTeam .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 30px;
    z-index: 1;
    position: relative;
}

.ourTeam .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: var(--hover-color);
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.ourTeam:hover .picture::before {
    height: 100%;
}

.ourTeam .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--hover-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.ourTeam .picture .imgFluid {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.ourTeam:hover .picture .imgFluid {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}

.ourTeam .name {
    color: #1b1d1d;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 700;
    .nameSpan{
        color: #1b1d1d;
    }
}

.ourTeam .title {
    display: block;
    font-size: 15px;
    font-weight: 700;
    color: #4e5052;
    text-transform: capitalize;
}

.ourTeam .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--hover-color);
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.ourTeam:hover .social {
    bottom: 0;
}

.ourTeam .social li {
    display: inline-block;
    margin-inline: 20px;
}

.ourTeam .social li a {
    display: block;
    padding: 10px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;

    .icon {
        font-size: 25px;
        font-weight: 500;
    }
}

.ourTeam .social li a:hover {
    color: var(--hover-color);
    background-color: var(--hover-social-icon);

    .icon {
        font-weight: 500;
    }
}

.samkaran {
    font-family: "Samkaran";
    color: #fff;
}

hr {
    width: 90%;
    margin: auto;
    height: 0.25px;
    border: 0.25px solid whitesmoke;
    margin-block: 25px;
}