:root {
    --hover-color: #2c3230;
    /* --hover-color: #FFD700; */
    --hover-social-icon: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: tahoma;
    height: 100vh;
    /* background-image: url(https://picsum.photos/g/3000/2000); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    background: #1c1e1e;
    overflow-x: hidden;
    background:
        conic-gradient(at 62.5% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/-8) calc(28px/2),
        conic-gradient(at 62.5% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(-3*28px/8) calc(28px/4),
        conic-gradient(at 87.5% 62.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(3*28px/8) calc(28px/4),
        conic-gradient(at 87.5% 62.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/-8) 0,
        conic-gradient(at 25% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) 0 calc(28px/-4),
        conic-gradient(at 25% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/-4) 0,
        conic-gradient(at 87.5% 87.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/8) 0 #1b1d1d;
    background-size: 28px 28px;


}

@font-face {
    font-family: "Samkaran";
    src: url("../../../../../public/samkaran.TTF") format("truetype");
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexRow {
    flex-direction: row;
}

.container {
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    width: 100vw;
    height: 100vh;
}

.gap2 {
    gap: 5px;
}

.header {
    font-family: "ubuntu";
    font-size: max(9vw, 70px);
    color: #fff;
    text-align: center;
    margin-top: auto;
}

.samkaran {
    font-family: "Samkaran";
    color: #fff;
}

.headerLogo {
    height: 5vw;
    width: 5vw;
    margin-bottom: 2rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 1s ease;
    background: #1c1e1e;
    margin-top: 12rem;
}

.headerLogo img {
    height: 8vw;
    width: 8vw;
}

.subHeading{
    font-size: max(6vw, 50px);
}

.topRow {
    width: 100vw;
    flex-wrap: wrap;
    padding-inline: 70px;
    /* padding-inline: 70px; */
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding-inline: 70px;
    /* background-color: #1369ce; */

}