@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Samkaran";
    src: url("../../../public/samkaran.TTF") format("truetype");
}

body {
    font: normal 16px/1.5 "Titillium Web", sans-serif;
    overflow-x: hidden;
    padding-bottom: 0px;
    background: #1c1e1e;
    background:
        conic-gradient(at 62.5% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/-8) calc(28px/2),
        conic-gradient(at 62.5% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(-3*28px/8) calc(28px/4),
        conic-gradient(at 87.5% 62.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(3*28px/8) calc(28px/4),
        conic-gradient(at 87.5% 62.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/-8) 0,
        conic-gradient(at 25% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) 0 calc(28px/-4),
        conic-gradient(at 25% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/-4) 0,
        conic-gradient(at 87.5% 87.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/8) 0 #1b1d1d;
    background-size: 28px 28px;
}

.font-style {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25em;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    font-family: "ubuntu";
    font-size: max(7vw, 60px);
    color: #fff;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;

}

.heading-sec {
    color: white;
    font-family: "Samkaran";
    text-align: center;
    padding: 4rem;
    font-size: max(5vw, 50px);
}


/* Upcoming events card */

.upcomping-event-card {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    background: inherit;
}

.upcoming-event-container {
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.samkaran {
    font-family: "Samkaran";
    color: #fff;
}

.upcoming-event-container .items {
    max-width: 60em;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 16px;
}

.header-logo {
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 1s ease;
    background: #1c1e1e;
}

.header-logo img {
    height: 8vw;
    width: 8vw;
}

.upcoming-event-container .card {
    min-width: 350px;
    max-height: 400px;
    width: 44%;
    height: 22rem;
    padding-left: 10px;
    position: relative;
    background: #282c34;
    border-radius: 30px;
    box-shadow: 0 7px 20px 5px #00000088;
    transition: .5s all;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    font-family: "Caveat", cursive;
    background-image: linear-gradient(to right, #141e30, #243b55);
    margin-bottom:30px ;
}

.upcoming-event-container .card .event {
    width: 100%;
    margin-top: 2rem;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
}

.description {
    padding: 10px;
    color: white;
    font-size: 20px;
    text-align: center;
}
@media (max-width:700px){
    .upcoming-event-container .items {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
}


/* Button CSS */
.btnContainer{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.register-button-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.register-button-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.register-button-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg, 100%, 21%) 8%,
    hsl(340deg 100% 21%) 92%,
    hsl(340deg 100% 16%) 100%);
}

.register-button-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    background: hsl(345, 100%, 37%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
    transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (max-width: 768px) {
    .register-button-front {
        font-size: 1.25rem;
        padding: 12px 42px;
    }
    .register-button-edge{
        height: 70%;
    }
    .register-button-shadow{
        height: 70%;
    }
   
}


.register-button-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.register-button-pushable:hover .register-button-front {
    transform: translateY(-6px);
    transition:
    transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.register-button-pushable:active .register-button-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.register-button-pushable:hover .register-button-shadow {
    transform: translateY(4px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.register-button-pushable:active .register-button-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.register-button-pushable:focus:not(:focus-visible) {
    outline: none;
}



.mg-r {
    margin-right: 40px;
}

.date {
    margin: 0;
    padding: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: #ffffff;
    width: 100%;
    
}


/* Past Event card */
.timeline {
    scroll-snap-type: y mandatory;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 7px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
    
}

.timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) rotate(45deg);
    width: 20px;
    height: 20px;
    z-index: 2;
    background: #eee;
}


.timeline ul li:nth-of-type(odd)>div {
    left: 45px;
}

.timeline ul li:nth-of-type(even)>div {
    left: -38vw;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-of-type(odd) div {
    transform: translate3d(100px, -10px, 0) rotate(10deg);
}

.timeline ul li:nth-of-type(even) div {
    transform: translate3d(-100px, -10px, 0) rotate(10deg);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

.timeline-card{
    position: relative;
    bottom: 0;
    /* width: 508px; */
    min-width: 350px;
    width: max(35vw,400px);
    height: 278px;
    padding: 20px;
    background: #fff;
    box-shadow: 4px 13px 30px 1px rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
}


.timeline-card time {
    position: absolute;
    background: #f5af19;
    width: 150px;
    height: 30px;
    top: -15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    z-index: 2;
}

.overflow-hidden{
    min-width: 300px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: transparent;
    overflow: hidden;
    /* background: #c57676; */
}

.content {
    /* min-height: 200px; */
    /* height: fit-content; */
    height: 95%;
    width: 60%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 4px 13px 30px 1px rgba(33, 17, 17, 0.475);
    border-radius: 5px;
    padding: 7px;
    padding-top: 0px;
    margin-right: 10px;
    color: #000000b6;
    background-color: rgba(245, 245, 245, 0);
}

.content > h1{
    width: 100%;
    font-size: larger;
    font-weight: bolder;
    color: #243b55;
}
.content > p{
    padding: 2px;
    font-size:max(1vw,15px) ;
    
}
.content > a{
    width: 100%;

}


.photo {
    height: 70%;
    min-width:110px;
    width: 35%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 4px 13px 30px 1px rgba(33, 17, 17, 0.2);
    border-radius: 5px;
    z-index: 2;
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbUBvTnNgUVo3j179M_XrUvz4JobQDTbvyBw&s"); */
    background-size: cover;
    background-position: center;
    filter: grayscale();
    transition: 0.5s;
}

.photo:hover {
    filter: grayscale(0);
}


@media screen and (max-width: 1100px) {
    .timeline ul li:nth-of-type(even)>div {
        left: -440px;
    }
}

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
        height: 270px;
        flex-direction: column;
    }

    .timeline ul li div>div {
        width: 100%;
        margin: 10px;
    }

    .timeline ul li:nth-of-type(even)>div {
        left: -380px;
    }
    .content{
        width: 80%;
        margin-right: 10px;
    }
}

@media screen and (max-width: 600px) {

    .timeline ul li {
       
        margin: 0 18px;
    }

    .timeline ul li div {
        
        width: 400px;
        height: 250px;
        padding: 0;
    }

    .timeline ul li:nth-of-type(even)>div {
        left: 45px;
    }

    .timeline ul li:nth-of-type(odd)>div {
        flex-direction: column-reverse;
    }

    .timeline ul li div .photo {
        height: 20px;
    
    }

    .timeline ul li div .content {
        height: 90%;
        width: 90%;
        
    }
    .overflow-hidden{
        overflow: hidden;
    }
}


/*modal css  */
.modal {
    height: 60vh;
    width: 80vw;
    position: absolute;
    z-index: 6;
    top: 20%;
    left: 10%;
    background: #1c1e1e;
    background:
    conic-gradient(at 62.5% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/-8) calc(28px/2),
    conic-gradient(at 62.5% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(-3*28px/8) calc(28px/4),
        conic-gradient(at 87.5% 62.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(3*28px/8) calc(28px/4),
        conic-gradient(at 87.5% 62.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/-8) 0,
        conic-gradient(at 25% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) 0 calc(28px/-4),
        conic-gradient(at 25% 12.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/-4) 0,
        conic-gradient(at 87.5% 87.5%, rgba(35, 38, 43, 0.64) 25%, #0000 0) calc(28px/8) 0 #1b1d1d;
        background-size: 28px 28px;
        border: 1px solid #ddd;
        border-radius: 15px;
}

.modal .flex-2 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.modal h1 {
    color: white;
    text-align: center;
    font-size: 2.3rem;
}

.modal p {
    font-size: 1rem;
    color: #ffffff;
    margin: 0.4rem 0 0.2rem;
    text-align: center;
    padding: 1em;
}


.scroll-y {
    overflow-y: scroll;
}

.scroll-x {
    overflow-x: hidden;
}

.btn {
    /* padding: 5px; */
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover{
    text-decoration: underline;
}

.btn-close {
    transform: translate(0px, 3px);
    padding: 0.6rem 1rem;
    color: #eee;
    border-radius: 50%;
    z-index: 5;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.hidden {
    display: none;
}

.past-event-box{
    height: fit-content;
}

